.popup {
    width: 100%;
    min-height: 100%;
    top: 0;
    position: fixed;
    background-color: black;
    opacity: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
}