.content {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 67px;
    display: grid;
    row-gap: 50px;
}

@media screen and (max-width: 1024px) {
    .content {
        margin-bottom: 57.5px;
    }
}