.content {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 67px;
    display: grid;
    row-gap: 50px;
}

@media screen and (max-width: 1024px) {
    .content {
        margin-top: 41px;
        margin-bottom: 57.5px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        margin-top: 42px;
        margin-bottom: 48px;
    }
}